# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables (CRITICAL)
.env

# Static & Media
staticfiles/
temp_uploads/
dicom_files/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Vercel
.vercel
